.home {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.home main {
  flex: 1 1 95vh;
  padding: 0 1rem 10rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .big-logo {
  margin-bottom: 4rem;
}
.home main h1 {
  font-size: 10rem;
  letter-spacing: 2.4rem;
  margin-bottom: .8rem;

  /* color: #8187dc; */
  /* text-shadow: 1px 1px 0px #fff,
               2px 2px 0px #fff,
               3px 3px 0px #fff,
               4px 4px 0px #fff,
               5px 5px 0px #fff,
               6px 6px 0px #fff,
               7px 7px 0px #fff,
               8px 8px 0px #fff,
               9px 9px 0px #fff,
               10px 10px 0px #fff; */

  color: #fff;
  text-shadow: 1px 1px 0px #5e5e5e,
               2px 2px 0px #5e5e5e,
               3px 3px 0px #5e5e5e,
               4px 4px 0px #5e5e5e,
               5px 5px 0px #5e5e5e,
               6px 6px 0px #5e5e5e,
               7px 7px 0px #5e5e5e,
               8px 8px 0px #5e5e5e,
               9px 9px 0px #5e5e5e,
               10px 10px 0px #5e5e5e;
}

.home main span {
  display: inline-block;
}

.home main .tilt-right {
  /* transform: rotate(10deg); */
  transform: rotate(10deg) translateY(-.5rem);
  animation: moveDown 2s linear infinite;
}

.home main .tilt-left {
  /* transform: rotate(-10deg); */
  transform: rotate(-10deg) translateY(.5rem);
  animation: moveUp 2s linear infinite;
}

.home main p {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  color: #e9d7fa;
  /* color: #f3bcd6; */
}

.home .options-container {
  width: 38rem;

  display: flex;
  flex-direction: column;
}

.home .options-container label {
  margin: 1.8rem 0 .2rem 1.6rem;
  align-self: flex-start;
}

.home .options-container select {
  padding: 1rem;
  border-radius: 3rem;
  appearance: none;
  outline: none;
  background-color: #fff;
}

.home .options-container .begin-game-btn {
  font-size: 2rem;
  background-color: #e0c3fc;
  /* background-color: #f3bcd6; */
  color: #5e5e5e;
  text-decoration: none;
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 3rem;
}

.home .options-container .begin-game-btn:hover,
.home .options-container .begin-game-btn:active {
  background-color: #dab6fc;
  color: #444;
}

@keyframes moveDown {
  50% {
    transform: rotate(10deg) translateY(.5rem);
  }
}

@keyframes moveUp {
  50% {
    transform: rotate(-10deg) translateY(-.5rem);
  }
}
