.question-section {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 100rem;
}

.question-section .category {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: #e9d7fa;
  margin-bottom: 2.4rem;
}

.question-section .category span {
  font-weight: 700;
}

.question-section .question {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  text-shadow: 1px 1px 0px #5e5e5e,
               2px 2px 0px #5e5e5e,
               3px 3px 0px #5e5e5e,
               4px 4px 0px #5e5e5e,
               5px 5px 0px #5e5e5e;
}

.question-section .answers {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.question-section .answer {
  color: #5e5e5e;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  height: 8rem;
  flex: 1 1 45rem;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
  
.question-section .answer:hover {
  background-color: #eee;
}

.question-section .answer.correct {
  background-color: #b7e4d1;
}

.question-section .answer.incorrect {
  background-color: #f5aec1;
}

.question-section .question-count {
  font-size: 1.8rem;
  margin-top: 2.4rem;
}

@media screen and (min-width: 768px) {
  .question-section .category {
    font-size: 2.4rem;
    margin-bottom: 3.6rem;
  }
  
  .question-section .question {
    font-size: 4.8rem;
    margin-bottom: 4.8rem;
  }
  
  .question-section .answer {
    height: 10rem;
    flex: 1 1 calc(50% - 1rem);
    cursor: pointer;
  }

  .question-section .question-count {
    margin-top: 3.6rem;
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1028px) {
  /* .question-section .category {
  font-size: 2.4rem;
    margin-bottom: 3.6rem;
  } */
  
  /* .question-section .question {
    font-size: 4.8rem;
    margin-bottom: 4.8rem;
  } */

  .question-section .answers {
    gap: 2rem;
  }
  
  /* .question-section .answer {
    height: 10rem;
    flex: 1 1 calc(50% - 1rem);
  } */

  /* .question-section .question-count {
    margin-top: 3.6rem;
    font-size: 2.4rem;
  } */
}
